<!DOCTYPE html>
<html ng-app="BuddySystem">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<title>User Preferences</title>
</head>
<body>
	<div class="container" ng-controller="buddies">
    <input class="form-control" ng-model="friend.name">
		<button class="btn btn-primary" ng-click="sendRequest()">Send Request</button>
    <table class="table">
        <tbody>   
          <tr ng-repeat="buddy_requests in buddies_list">
            <td></td>
            <td>{{buddy_requests.sent_from_id}}</td>
            <td><button class="btn" ng-click="acceptBuddy(buddy_requests)">Accept Request</button></td>
            <td><button class="btn btn-danger" ng-click="rejectBuddyRequest(buddy_requests._id)">Reject Request</button></td>
          </tr>
        </tbody>
      </table>
    Friends
    <table class="table">
        <tbody>   
          <tr ng-repeat="buddies in added_buddies_list">
            <td></td>
            <td>{{buddies.user_two_id}}</td>
            <td><button class="btn btn-danger" ng-click="deleteFriend(buddies._id)">Remove Friend</button></td>
          </tr>
        </tbody>
      </table>
  	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="controllers/buddy.js"></script>
</body>
</html>