<!DOCTYPE html>
<html ng-app="BuddySystem">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<title>User Preferences</title>
</head>
<body>
	<div class="container" ng-controller="buddies">
    <button class="btn btn-primary" ng-click="addFriend(1)">Michael</button></th>
    <button class="btn btn-primary" ng-click="addFriend(2)">Isaac</button></th>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
	<script src="controllers/buddy.js"></script>
</body>
</html>