/* General CSS File Across All Pages */
:root {
  --primary-color: #262626;
  --primary-light-color: #353535;
  --primary-dark-color: #353535;
  --base-color: #353535;
  --base-two-color: #262626;
  --base-focus-color: #262626;
  --over-base-color: #353535;
  --over-base-two-color: #262626;
  --over-base-focus-color: #262626;  
  --panel-color: #dddddd;  
  --line-color: #dddddd;
  --accent-color: #262626;
  --border-color: none;
}

/* General */
body,
button,
html,
input,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.07em;
}

a:focus,
a:hover {
  text-decoration: none;
}

::selection {
  background: #333333;
  color: white;
}

/* General: navbar */
.navbar {
  min-height: 0;
}

/* General: navbar-site */
.navbar-site {
  font-size: 1.5rem;
  font-weight: 600;
  height: 6rem;
  border: none;
  z-index: 100;
  color: white;
  margin-bottom: 0;
}

.navbar-site a {
  color: white;
}

.navbar-site .navbar-header,
.navbar-site .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0; 
}

.navbar-site .nav-link {
  padding: 0 1.5em;
  cursor: pointer;
  -webkit-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
}

.nav-link:last-child {
  margin-right: -15px;
}

.navbar-site .nav-link:hover {
  color: var(--base-color);
}

.navbar-site .navbar-brand {
  font-size: 2.5rem;
}

.navbar-site .brand-name {
  display: none;
}

/* General: modals */
.modal {
  background: rgba(0,0,0,0.5);
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  margin: 0;
}

.modal-content {
  background: white;
  color: #333333;
  border: none;
  box-shadow: none;
  width: 100%;
  margin: 0;
  border-radius: 0.5rem;
}

.modal-content .title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-header {
  position: relative;
  padding-top: 4.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0;
  border-bottom: none;
}

.modal-header .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  text-shadow: none;
  opacity: 1;
  color: #333333;
}

.modal-header .close:hover {
  color: #888888;
}

.modal-content .main {
  padding: 3rem;
}

/* General: forms */
.form-group {
  margin-top: 2rem;
  margin-bottom: 0;
}

.form-group label {
  font-size: 1.2rem;
  font-weight: 600;
}

.form-group:first-child {
  margin-top: 0;
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #888888;
  box-shadow: none;
  height: 3rem;
  font-size: 1.8rem;
  padding: 0;
  margin-top: 0rem;
  background: transparent;
  color: #333333;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #333333;
  color: #333333;
}

/* General: btn */
.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  -webkit-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
}

.btn.active,
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  border: none;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  border: none;
}

.btn-submit-form {
  padding: 0.5em 4em;
  font-size: 2rem;
  font-weight: 500;
  background: #286090;
}

.btn-submit-form:hover {
  background: #337ab7;
}

/* General: panel */
.panel {
  box-shadow: none;
}

.panel-group .panel,
.panel {
  border: none;
  border-radius: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-heading {
  padding: 1rem 1.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
}

.panel-heading-selection {
  border-left: solid 0.5rem black;
  padding-left: 1.5rem;
  background-color: #eeeeee;
}

.panel-heading-selection:hover {
  background-color: #dddddd;
}

.panel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: justify;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-weight: 600;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.panel-title>.badge {
  float: right;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: none;
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
  border-top: none;
  padding: 0.7rem 2rem;
  font-weight: 500;
  -webkit-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (min-width: 768px) {
  /* navbar-site */
  .navbar-site .brand-name {
    display: inline;
  }

  /* modal */
  .modal-content {
    width: 40rem;
    height: auto;
  }

  .modal-header {
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .modal-header .title {
    font-size: 2.5rem;
  }

  .modal-content .main {
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  }
}

/* More main styling */

.prim-back {
  background-color: var(--primary-color);
}

.acc-back {
  background-color: var(--accent-color);
}

.prim-dark-back {
  background-color: var(--primary-dark-color);
}

.base-back {
  background-color: var(--base-color);
}
.base-two-back {
  background-color: var(--base-two-color);
}


.online-text {
  color: #59E01B;
}

.invis-text {
  color: transparent;
}

.prim-text {
  color: var(--primary-color);
}

.prim-text:hover {
  color: var(--primary-color);
}

.acc-text {
  color: var(--accent-color);
}

.acc-text:hover {
  color: var(--accent-color);
}

.white-text {
  color: #ffffff;
}

.prim-dark-text {
  color: var(--primary-dark-color);
}
.over-base-text {
  color: var(--over-base-color);
}

.grey-text {
  color: #666666;
}

.bold-text {
  font-weight: bold;
}

acc {
  color: var(--accent-color);
}

prim {
  color: var(--primary-color);
}

.btn-low-pri {
  background-color: var(--base-two-color);
  color: var(--over-base-color);
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
}

.btn-low-pri:hover {
  color: var(--primary-light-color);
}

.btn-low-pri:active {
  color: var(--over-base-focus-color);
}

.btn-hi-pri {
  color: #ffffff;
  background-color: var(--primary-dark-color);
}

.btn-hi-pri:hover {
  background-color: var(--primary-color);
}

.btn-hi-pri:focus {
  background-color: var(--primary-dark-color);
}

.btn-low-key {
  background-color: var(--over-base-color);
  color: transparent;
  margin-left: .3rem;
}

.btn-cancel {
  background-color: var(--accent-color);
  color: #ffffff;
}
