/* home.css */

/* General */
main {
  margin-top: 6rem;
}

/* Login Modal */
.modal-login-content .btn-container {
  margin-top: 3rem;
}

/* Splash Art */
.jumbotron-splash {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ecf0f1;
}

.jumbotron-splash .container {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.jumbotron-splash .title {
  font-weight: 700;
  font-size: 3rem;
}

.jumbotron-splash .subtitle {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.jumbotron-splash .btn-container {
  margin-top: 4rem;
}

.jumbotron-splash .btn-container .btn-signup {
  padding: 0.5em 2em;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  /* Navbar */
  .navbar-site .nav-link-login {
    margin-right: -2rem;
  }

  /* Login Modal */
  .modal-login-content .btn-container {
    margin-top: 4rem;
  }

  /* Splash */
  .jumbotron-splash {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .jumbotron-splash .container {
    text-align: left;
  }

  .jumbotron-splash .title {
    font-size: 5rem;
    width: 80%;
  }

  .jumbotron-splash .subtitle {
    margin-top: 2.5rem;
    font-size: 2.5rem;
  }

  .jumbotron-splash .btn-container {
    margin-top: 8rem;
  }

  .jumbotron-splash .btn-container .btn-signup {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  /* Splash */
  .jumbotron-splash .title {
    width: 60%;
  }
}
