/* mainRoom.css */

/* General */
html, body {
  margin: 0;
  height: 100%;
}

.sidebar,
.chat-room {
  position: absolute;
  top: 0;
  bottom: 0;
}

.sidebar {
  background-color: var(--base-color);
  width: 24rem;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.panel {
  cursor: pointer;
}

/* Chat Room */
.chat-room {
  display: inline-block;
  left: 24rem;
  width: calc(100% - 48rem);
}

.chat-room .main-content, .chat-room .main-content-hidden {
  position:relative; 
  height:100%; 
  z-index:2
}

.chat-room .main-content-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--base-two-color);
}

.main-content-hidden .brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: default;
}

.navbar-room {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  height: 5rem;
  font-weight: 600;
}

.navbar-room .nav-link {
  margin-right: 0;
}

.navbar-room .navbar-nav>li>a {
  color: white;
}

.navbar-room .nav>li>a:focus, .navbar-room .nav>li>a:hover {
  background-color: transparent;
}

.navbar-room .navbar-brand {
  cursor: default;
}

.message-pane {
  position: relative;
  height: calc(100% - 5rem);
  background-color: var(--base-two-color);
  overflow-x: hidden;
  border-style: hidden;
  word-wrap: break-word;
  padding-top: 3rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.message-pane .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px var(--line-color);
  cursor: default;
}

.message-pane .message:last-child {
  border-bottom: none;
}

.message .message-content {
  width: calc(100% - 6rem);
}

.message-content .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: justify;
}

.message-header .dropdown .user-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.message-header .dropdown .user-name:hover {
  text-decoration: underline;
}

.message-header .dateTime {
  font-size: 1.2rem;
  color: var(--over-base-two-color);
}

.message-content .message-body {
  white-space: pre-wrap;
  color: var(--over-base-two-color);
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-top: 0.2rem;
}

.form-message-container {
  position: absolute;
  background: white;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  height: 4.5rem;
  border-radius: 0.5rem;
}

.form-message-container .form-message {
  height: inherit;
}

.form-message .input-group {
  height: inherit;
  background-color: var(--base-two-color);
}

.input-group .btn-mute {
  width: 4.5rem;
  height: 4.5rem;
  border: solid 2px var(--over-base-two-color);
  background-color: var(--base-two-color);
  color: var(--over-base-two-color);
}

.input-group .btn-mute .glyphicon {
  margin-right: -0.4rem;
  margin-top: 0.2rem;
  font-size: 2rem;
}

.input-group .input-message {
  font-size: 1.5rem;
  border-bottom: none;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: solid 2px var(--over-base-two-color);
  border-bottom: solid 2px var(--over-base-two-color);
  border-right: solid 2px var(--over-base-two-color);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: var(--over-base-two-color);
}

/* Classes Sidebar */
.sidebar-left {
  left: 0;
  border-right: solid 1px var(--line-color);
}

.sidebar-left>.menu-user {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: solid 1px var(--line-color);
}

.container-info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  margin-bottom: 1.5rem;
}

.container-user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid 2px var(--over-base-color);
  overflow: hidden;
  cursor: default;
}

.container-user-icon>span{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.curr-typing-text {
  font-size: .9rem;
  display: inline;
}

.curr-typing-container {  
  width: calc(100% - 6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  padding-top: .3rem;
  cursor: default;

}

.container-info-user .container-user-icon {
  margin-right: 1rem;
}

.container-info-user .user-icon {
  float: left;
  width: 100%;
  height: 100%;
}

.container-info-user .user-name {
  font-weight: 500;
  font-size: 1.8rem;
}

/* Classes Menu */
.container-menu-classes {
  margin-top: 1rem;
}

.container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  width: 100%;
  color: var(--primary-color);
}

.container-title:hover {
  color: var(--primary-light-color);
}

.container-title .title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-classes .panel {
  background-color: inherit;
}

.menu-classes .panel .panel-title {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
}

.menu-classes .panel-heading {
  position: relative;
}

.menu-classes .panel-heading .btn-add-room {
  position: absolute;
  padding: 0;
  top: 1.8rem;
  right: 2.5rem;
  background: transparent;
  color: white;
}

.btn-add-room:hover {
  color: var(--primary-color) !important;
}

.menu-classes .panel-title .glyphicon {
  font-size: 1.2rem;
}

.color-def-panel-title {
  background-color: var(--panel-color);
  color: white;
}

.menu-classes .panel:hover .panel-heading {
  background-color: var(--base-focus-color);
}

.menu-classes .panel>.panel-collapse>.list-group .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  outline: 0 !important;
}

.menu-classes .panel>.panel-collapse>.list-group .list-group-item:hover {
  background-color: var(--base-focus-color);
  color: var(--over-base-focus-color);
}

.buddy-panel {
  outline: 0 !important;
  border: none;
  border-radius: 0px !important; 
}

.buddy-panel:hover {
  background-color: var(--base-focus-color);
  color: var(--over-base-focus-color);
}

/* Classmates Sidebar */
.sidebar-right {
  color: var(--primary-color);
  right: 0;
}

.sidebar-right .container-search {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.studymates {
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
}

.entry{
  padding-left: 1.5rem;
  padding-bottom: 1.0rem;
}

.names {
  padding-left: 1.5rem;
  color: white;
  font-size: 1.5rem;
}

/* Create Room Modal */
.modal-create-room-content .btn-container {
  margin-top: 3rem;
}

.modal-create-room-content .panel:last-child {
  margin-bottom: 0;
} 

@media screen and (min-width: 768px) {
  .modal-create-room-content .btn-container {
    margin-top: 4rem;
  }
}

/* Add Class Modal */
.modal-add-class-content {
  height: 65%;
  width: 50%;
}

.modal-add-class-content .classes {
  display: inline-block;
  margin: 3px;
}

.modal-add-class-content .classes-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.modal-add-class-content .save-btn {
  margin-top: 10px;
}

.md-autocomplete-suggestions-container {
  z-index: 1051 !important; /* lol xD */
}

.bud-req-button {
  width: 2rem;
  font-size: 1.2rem;
  color: #ffffff;
  border:none;
  text-align: center;
  padding: 0px;
  margin-right: 7px;

}

/* Other stuff */

#overlay {
  width: 100%;
  height: 100%;
  position: relative;
}

#layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

.alert {
  position: absolute;
  width: 30%;
  top: 80%;
  left: 35%;
  background-color: var(--accent-color);
  color: #ffffff ;
  z-index: 2;
}
