<!-- DEPRECATED -->

<!--
_____     ______     __   __     __  __
/\  __-.  /\  __ \   /\ "-.\ \   /\ \/ /
\ \ \/\ \ \ \  __ \  \ \ \-.  \  \ \  _"-.
\ \____-  \ \_\ \_\  \ \_\\"\_\  \ \_\ \_\
\/____/   \/_/\/_/   \/_/ \/_/   \/_/\/_/

-->

<!DOCTYPE html>
<html ng-app="roomApp">
  <head>
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- For mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="mainRoomText.css">
    <link rel="sytlesheet" type="text/css" href="general.css">

    <!-- Additional Typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800" rel="stylesheet">

    <!-- Title -->
    <title>Main Room</title>
  </head>

  <body>
    <!-- Main Content -->
    <div class="container-fluid">
      <div class="row no-gutter">
        <!-- Room Column -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color:red">
          <h3>Column 1</h3>
        </div>

        <!-- Message Wrapper -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="message-wrapper"
             ng-controller="ChatController"> 

          <!--NAVBAR-->
          <nav id="nav-room" class="navbar navbar-inverse navbar-static-top span-8">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">CSE 110</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rooms <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="room-list">
                    <li><a href="#">Room 1</a></li>
                    <li><a href="#">Room 2</a></li>
                    <li><a href="#">Room 3</a></li>
                  </ul>  
                </li>
              </ul>
            </div>
          </nav>

          <!-- MESSAGE PANE -->
          <div class="container-fluid" id="chatMessageDiv">

            <ul style="list-style-type:none" ng-repeat="chatMessage in chatMessageList">
              <li id="username">{{chatMessage.name}}</li>
              <li id="dateTime">{{timeAgo(chatMessage)}}</li>
              <li id="message">{{chatMessage.text}}</li>
            </ul>

          </div>

          <!-- MESSAGE BAR -->
          <footer class="footer navbar-static-bottom col-xs-13 col-sm-13 col-md-13 col-lg-13">
            <form>
              <div class="input-group" id="message-bar">

                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-volume-up"></i>
                  </button>
                </div>

                <input type="text" class="form-control" id="chatInputBox" 
                       ng-model="chatInput" ng-keydown="keypress($event)" 
                       placeholder="Type a message...">

                <div class="input-group-btn">
                  <button class="btn btn-primary" ng-click="sendChatMessage(chatInput)">
                    SEND
                  </button>
                </div>

              </div>
            </form>
          </footer>

        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color:green">
          <h3>Column 3</h3>

        </div>
      </div>
    </div>
    <!-- Application Info -->
  </body>

  <!-- Firebase scripts -->
  <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <script src="firebase_setup.js"></script>

  <!-- Angular scripts -->
  <script src="controllers/room_controller.js"></script>

</html>
