<!--
   _____     ______     __   __     __  __
  /\  __-.  /\  __ \   /\ "-.\ \   /\ \/ /
  \ \ \/\ \ \ \  __ \  \ \ \-.  \  \ \  _"-.
   \ \____-  \ \_\ \_\  \ \_\\"\_\  \ \_\ \_\
    \/____/   \/_/\/_/   \/_/ \/_/   \/_/\/_/

-->

<!DOCTYPE html>
<html ng-app="mainApp" ng-app="classesApp">
  <head>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- For mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="general.css">
    <link rel="stylesheet" type="text/css" href="mainRoom.css">
    <link rel="stylesheet" type="text/css" href="animations.css">

    <!-- Additional Typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <!-- javascript files -->
    <script type="text/javascript" src="toggleMenu.js"></script>

    <!-- Title -->
    <title>Main Room</title>
  </head>

  <body id="myBody" ng-controller="MainController">

    <!-- Classes Sidebar -->
    <aside id="sidebar-classes" role="complementary">

      <!-- User Quick Info -->
      <div id="info-user">
        <div class="container-user-icon">
          <!--<img class="user-icon" src="assets/images/user_icon.png" />-->
        </div>
        <span class="user-name">{{myName}}</span>
      </div>

      <!-- Log Out -->
      <button class="btn btn-primary" onclick="logOut()">Log Out</button>

      <!-- User Preference -->
      <div class="btn-container">
        <a class="btn btn-primary" href="courses">Courses</a>
      </div>

      <!-- Classes -->
      <div id="container-menu-classes">

        <!-- Create Room Button -->
        <button id="btn-create-room" class="btn container-title">
          <h5 class="title">Rooms</h5>
          <div id="btn-add">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </button>
        <!-- Classes/Rooms Dropdown -->
        <div class="panel-group" id="menu-classes">

          <div ng-repeat="(class_id, class_obj) in classes" id="#{{class_id}}" class="panel" 
               href="#{{class_id}}">
            <div class="panel-heading" data-toggle="collapse" data-target="#{{class_id}}" data-parent="#menu-classes">        
              <h4 class="panel-title">
                <span ng-if="!class_obj.has_tutor">{{class_obj.name}} ({{classes[class_id].num_users}})</span>
                <span ng-if="class_obj.has_tutor">{{class_obj.name}} ({{classes[class_id].num_users}}) *</span>
              </h4>
            </div>
            <div id="{{class_id}}" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="room_id in class_rooms[class_id]" ng-click="joinRoom(room_id, class_id, null)">
                  <span ng-if="room_id == currRoomID" class="room-name" style="color:#00ff00">{{rooms[room_id].name}} ({{rooms[room_id].users.length}}) {{rooms[room_id].has_tutor? "*":""}}</span> 
                  <span ng-if="room_id != currRoomID" class="room-name">{{rooms[room_id].name}} ({{rooms[room_id].users.length}}) {{rooms[room_id].has_tutor? "*":""}}</span> 
                </li>
              </ul>
            </div>
          </div>
          
        </div> <!-- END PANEL-GROUP -->

      </div>
    </aside> <!-- END LEFT SIDEBAR -->

    <!-- Main Content -->
    <main id="chat-room" role="main">

      <!-- NAVBAR -->
      <nav id="navbar-room" class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand">{{currClassName}}{{currRoomName}}</span>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rooms <span class="caret"></span></a>
              <ul class="dropdown-menu" id="room-list">
                <li class="list-group-item" ng-repeat="room_id in class_rooms[currClassID]" ng-click="joinRoom(room_id, currClassID, null)">
                  <span>{{rooms[room_id].name}}</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <!-- MESSAGE WRAPPER -->
      <div class="message-pane" id="message-wrapper"> 

        <!-- MESSAGE PANE -->
        <div class="container-fluid" id="chatMessageDiv" scroll scroll-event="scrollevent">
          <div id="loading" hidden> 
            <div class="blob blob-0"></div><div class="blob blob-1"></div>
            <div class="blob blob-2"></div><div class="blob blob-3"></div>
            <div class="blob blob-4"></div><div class="blob blob-5"></div>
          </div>
          <div class="message" ng-repeat="chatMessage in chatMessageList">
            <div id="message-header">
              <div class="dropdown">
                <a id="username" class="dropdown-toggle" data-toggle="dropdown" href="#">{{chatMessage.name}} <span class="caret"</span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Mute</a></li>
                  <li><a href="#">Block</a></li>
                  <li><a href="#">Friend</a></li>
                </ul>
              </div>
              <span id="dateTime">{{timeAgo(chatMessage)}}</span>
            </div>
            <p id="message-body" style="white-space:pre-wrap;">{{chatMessage.text}}</p>
          </div>
        </div> <!-- END MESSAGE PANE -->

        <!-- MESSAGE INPUT -->
        <footer id="wrapper-message-bar">
          <form class="form-message" ng-submit="sendChatMessage(chatInput)">
            <div class="input-group" id="message-bar">
              <span class="input-group-btn">
                <button id="btn-mute" class="btn btn-default" type="button" 
                        onclick="toggleMyStreamAudioEnabled()"> 
                  <span class="glyphicon glyphicon-volume-up"></span>
                </button>
              </span>
              <input type="text" class="form-control" id="chatInputBox" 
                     ng-model="chatInput" placeholder="Type a message..." autocomplete="off">
              <span class="input-group-btn">
                <button id="btn-send" class="btn btn-default" type="submit">
                  SEND
                </button>
              </span>
            </div>
          </form>
        </footer> <!-- END MESSAGE INPUT -->

      </div>

    </main>   

    <!-- Not in a Room -->
    <!--<main ng-if="!currRoomID" id="chat-room" role="main">
      <h1 class="text-center">hello studyspace</h1>
    </main>-->

    <!-- Classmates Sidebar -->
    <aside id="sidebar-classmates" role="complementary" style="background-color:green">
      <h3>Buddies</h3>        
    </aside>

    <!-- Create Room Modal -->
    <div id="modal-create-room" class="modal" role="dialog">
      <div class="modal-dialog">

        <!-- Content -->
        <div id="create-room" class="modal-content hide">
          <div class="title-container text-center"> 
            <button id="close-create-room" class="btn close" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <h1 class="title">Create a room</h1>
          </div>
          <div class="main form-container">

            <!-- Class selection -->
            <form>
              <div class="form-group">
                <label for="class">Class</label><br/>
                <div class="radio" ng-repeat="class_id in my_class_ids">
                  <label>
                    <input type="radio" name="class_id_radio" autocomplete="off" value="{{class_id}}">
                    {{classes[class_id].name}}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="room_name">Room Name</label>
                <input type="text" class="form-control" placeholder="e.g. Midterm Review"
                       id="room_name">
              </div>
              <div class="btn-container text-center">
                <button id="btn-create" class="btn btn-primary" ng-click="addRoom()">Create</button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>

  </body>

  <!-- Peer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <script src="firebase_setup.js"></script>

  <!-- Angular scripts -->
  <script src="controllers/main_controller.js"></script>

  <!-- Other -->
  <script src="cookies.js"></script>
  <script src="main.js"></script>
  <script src="call.js"></script>

</html>
