/* mainRoom.css */

/* General */
html, body {
  margin: 0;
  height: 100%;
}

/* USE THESE WHEN UPDATING COLORS! FIND (curr_color), REPLACE ALL WITH (new_color)
   DON'T REPLACE THE COLORS IN THIS SECTION!!! */
/* primary-color: #38c9ff */ /* Main color for the site, used for selected */
/* primary-color-light: #91e0ff */ /* Light version, used for hover */
/* primary-color-dark: #00b9ff */ /* Dark version, used when shit needs to be dark */
/* dark-color-dark: #262626 */ /* Our darker dark color */
/* dark-color-light: #353535 */ /* Our lighter dark color */
/* accent-color: #e01f4f */

.sidebar,
.chat-room {
  position: absolute;
  top: 0;
  bottom: 0;
}

.sidebar {
  width: 24rem;
}

.panel {
  cursor: pointer;
}

/* Chat Room */
.chat-room {
  display: inline-block;
  left: 24rem;
  width: calc(100% - 48rem);
}

.navbar-room {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  height: 5rem;
  font-weight: 600;
  color: #00b9ff;
}

.dropdown-toggle {
  color: inherit;
}

.navbar-room .navbar-brand {
  cursor: default;
}

.message-pane {
  position: relative;
  height: calc(100% - 5rem);
  background-color: #262626;
  overflow-x: hidden;
  border-style: hidden;
  word-wrap: break-word;
  padding-top: 3rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.message-pane .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px #333333;
  cursor: default;
}

.message-pane .message:last-child {
  border-bottom: none;
}

.message .message-content {
  width: calc(100% - 6rem);
}

.message-content .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: justify;
}

.message-header .dropdown .user-name {
  color: #38c9ff;
  font-size: 1.5rem;
  font-weight: 500;
}

.message-header .dateTime {
  font-size: 1.2rem;
  color: gainsboro;
}

.message-content .message-body {
  white-space: pre-wrap;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-top: 0.2rem;
}

.form-message-container {
  position: absolute;
  background: white;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  height: 4.5rem;
  border-radius: 0.5rem;
}

.form-message-container .form-message {
  height: inherit;
}

.form-message .input-group {
  height: inherit;
}

.input-group .btn-mute {
  width: 4.5rem;
  height: 4.5rem;
  border: solid 2px #eeeeee;
  background-color: white;
}

.input-group .btn-mute .glyphicon {
  margin-right: -0.4rem;
  margin-top: 0.2rem;
  font-size: 2rem;
}

.input-group .input-message {
  font-size: 1.5rem;
  border-bottom: none;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
  border-right: solid 2px #eeeeee;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* Classes Sidebar */
.sidebar-left {
  background: #8caacd;
  background-color: #353535;
  left: 0;
}

.container-info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: solid 0px #000000;
}

.container-user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid 2px #00b9ff;
  color: #00b9ff;
  background: white;
  overflow: hidden;
}

.container-info-user .container-user-icon {
  margin-right: 1rem;
}

.container-info-user .user-icon {
  float: left;
  width: 100%;
  height: 100%;
}

.container-info-user .user-name {
  font-weight: 500;
  font-size: 1.8rem;
}

/* Classes Menu */
.container-menu-classes {
  margin-top: 2rem;
}

.container-menu-classes .container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  width: 100%;
  color: #38c9ff;
}

.container-menu-classes .container-title:hover {
  color: white;
  color: #91e0ff;
}

.container-menu-classes .container-title .title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-classes .panel {
  background-color: inherit;
}

.menu-classes .panel .panel-title {
  font-size: 1.5rem;
  color: white;
}

.menu-classes .panel .panel-title:hover {
  color: #91e0ff;
}

.menu-classes .panel:hover .panel-heading {
  background-color: #7a9dc5;
  background-color: #262626;
}

.menu-classes .panel>.panel-collapse>.list-group .list-group-item {
  padding-left: 2rem;
  background-color: #353535;
  color: white;
}

.menu-classes .panel>.panel-collapse>.list-group .list-group-item:hover {
  background-color: #5783b6;
  background-color: #262626;
  color: #91e0ff;
}

/* Classmates Sidebar */
.sidebar-right {
  right: 0;
}

.sidebar-right .container-search {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Create Room Modal */
.modal-create-room-content .btn-container {
  margin-top: 3rem;
}

.modal-create-room-content .panel:last-child {
  margin-bottom: 0;
} 

@media screen and (min-width: 768px) {
  .modal-create-room-content .btn-container {
    margin-top: 4rem;
  }
}

/* Add Class Modal */
.modal-add-class-content {
  height: 50%;
  width: 50%;
}

.md-autocomplete-suggestions-container {
  z-index: 1051 !important; /* lol xD */

}

/* More main styling */
.btn-low-pri {
  background-color: #262626;
  color: gainsboro;
  margin-left: 1.5rem;
}
.btn-low-pri:hover {
  color: #91e0ff;
} 

.btn-hi-pri {
  background-color: #38c9ff;
}

.btn-hi-pri:hover {
  background-color: #00b9ff;
}

.primary-dark-text {
  color: #00b9ff;
}

.room-name-span {
  /*display: block; 
  width: 200px; 
  overflow: hidden; 
  word-wrap: break-word; 
  white-space: nowrap*/
}

#overlay {
  width: 100%;
  height: 100%;
  position: relative;
}

#layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

#voice-connect-alert {
  position: absolute;
  width: 30%;
  top: 80%;
  left: 35%;
  background-color: #ffffff;
  color: #38c9ff ;
}
