html, body{
  margin: 0;
  height: 100%;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.container-fluid{
  height: 100%;
}

.row{
  height: 100%;
}

#nav-room {
    margin-bottom: 0;
}

#message-wrapper{
  background-color: powderblue;
  height: 100%;
}

#chatMessageDiv {
  background-color: aliceblue;
  height: calc(100% - 85px);
  padding-bottom: 30px;
  overflow-x: hidden;
  border-style: solid;
  word-wrap: break-word;
}