<!--
_____     ______     __   __     __  __
/\  __-.  /\  __ \   /\ "-.\ \   /\ \/ /
\ \ \/\ \ \ \  __ \  \ \ \-.  \  \ \  _"-.
\ \____-  \ \_\ \_\  \ \_\\"\_\  \ \_\ \_\
\/____/   \/_/\/_/   \/_/ \/_/   \/_/\/_/

-->

<!DOCTYPE html>
<html ng-app="roomApp" ng-app="classesApp">
  <head>
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- For mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="general.css">
    <link rel="stylesheet" type="text/css" href="mainRoom.css">
    <link rel="stylesheet" type="text/css" href="animations.css">

    <!-- Additional Typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <!-- javascript files -->
    <script type="text/javascript" src="toggleMenu.js"></script>

    <!-- Title -->
    <title>Main Room</title>
  </head>

  <body id="myBody">
    <div class="container-fluid">
      <!-- Classes Sidebar -->
      <aside id="sidebar-classes" role="complementary">
        <!-- User Quick Info -->
        <div id="info-user">
          <div class="container-user-icon">
            <!--<img class="user-icon" src="assets/images/user_icon.png" />-->
          </div>
          <span class="user-name">FirstName L.</span>
        </div>

        <!-- Log Out -->
        <button class="btn btn-primary" onclick="logOut()">Log Out</button>

        <!-- User Preference -->
        <div class="btn-container">
          <a class="btn btn-primary" href="courses">Courses</a>
        </div>

        <!-- Create Room -->
        <!--<button id="btn-create-room" class="btn btn-primary">Create Room</button>-->

        <!-- Classes -->
        <div id="container-menu-classes">
          <button id="btn-create-room" class="btn container-title">
            <h5 class="title">Classes</h5>
            <div id="btn-add">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
          </button>
          <div ng-controller="classesController" 
               class="panel-group" id="menu-classes">
            <!--first class in drop down-->
            <div ng-repeat="(id, name) in class_names" class="panel" 
                 data-toggle="collapse" data-parent="#menu-classes" href="#{{id}}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <span>{{name}}</span>
                </h4>
              </div>
              <div id="{{id}}" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="room_id in class_rooms[id]" ng-click="joinRoom(room_id)">
                    <span class="room-name">{{rooms[room_id].name}}</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div> <!--end panel group-->
        </div>
      </aside> <!--end left column-->

      <!-- Main Content -->
      <main id="chat-room" role="main" style="background-color:blue">

        <!-- Message Wrapper -->
        <div class="message-pane" id="message-wrapper"
               ng-controller="ChatController"> 

          <!--NAVBAR-->
          <nav id="nav-room" class="navbar navbar-inverse navbar-static-top span-8">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">CSE 110</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rooms <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="room-list">
                    <li><a href="#">Room 1</a></li>
                    <li><a href="#">Room 2</a></li>
                    <li><a href="#">Room 3</a></li>
                  </ul>  
                </li>
              </ul>
            </div>
          </nav>

          <!-- MESSAGE PANE -->
          <div class="container-fluid" id="chatMessageDiv">

            <ul style="list-style-type:none" ng-repeat="chatMessage in chatMessageList">
              <li id="username">{{chatMessage.name}}</li>
              <li id="dateTime">{{timeAgo(chatMessage)}}</li>
              <li id="message">{{chatMessage.text}}</li>
            </ul>

          </div>

          <!-- MESSAGE BAR -->
          <footer class="footer navbar-static-bottom col-xs-13 col-sm-13 col-md-13 col-lg-13">
            <form>
              <div class="input-group" id="message-bar">

                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-volume-up"></i>
                  </button>
                </div>

                <input type="text" class="form-control" id="chatInputBox" 
                       ng-model="chatInput" ng-keydown="keypress($event)" 
                       placeholder="Type a message..." autocomplete="off">

                <div class="input-group-btn">
                  <button class="btn btn-primary" ng-click="sendChatMessage(chatInput)">
                    SEND
                  </button>
                </div>

              </div>
            </form>
          </footer>
        </div>


      </main>   

      <!-- Classmates Sidebar -->
      <aside id="sidebar-classmates" role="complementary" style="background-color:green">
        <h3>Column 3</h3>        
      </aside>

      <!-- Create Room Modal -->
      <div id="modal-create-room" class="modal" role="dialog">
        <div class="modal-dialog">

          <!-- Content -->
          <div id="create-room" class="modal-content hide">
            <button id="close-create-room" class="btn close" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <div class="create-room-container">
              <div class="create-room-content">
                <div class="title-container text-center"> 
                  <h1 class="title">Create a room</h1>
                </div>
                <div class="form-container">

                  <!-- Class selection -->
                  <form>
                    <div class="form-group">
                      <label for="class">Class</label><br/>
                      <div id="class_id" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary btn-xs" style="margin-right:5px">
                          <input type="radio" name="class_id_radio" autocomplete="off" value="class_id_1"> Class Name 1</label>
                        <label class="btn btn-primary btn-xs" style="margin-right:5px">
                          <input type="radio" name="class_id_radio" autocomplete="off" value="class_id_2"> Class Name 2</label>
                        <label class="btn btn-primary btn-xs" style="margin-right:5px">
                          <input type="radio" name="class_id_radio" autocomplete="off" value="class_id_3"> Class Name 3</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="room_name">Room Name</label>
                      <input type="text" class="form-control" placeholder="e.g. Midterm Review" id="room_name">
                    </div>
                    <div class="btn-container text-center">
                      <button id="btn-create" class="btn btn-primary" onclick="addRoomOnClick()">Create</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Application Info -->
    </div>
  </body>



  <!-- Peer -->
  <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
  
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <script src="firebase_setup.js"></script>

  <!-- Other -->
  <script src="cookies.js"></script>

  <script src="call.js"></script>
  <script src="main.js"></script>

  <!-- Angular scripts -->
  <script src="controllers/room_controller.js"></script>

</html>
