<!--
   _____     ______     __   __     __  __
  /\  __-.  /\  __ \   /\ "-.\ \   /\ \/ /
  \ \ \/\ \ \ \  __ \  \ \ \-.  \  \ \  _"-.
   \ \____-  \ \_\ \_\  \ \_\\"\_\  \ \_\ \_\
    \/____/   \/_/\/_/   \/_/ \/_/   \/_/\/_/

-->

<!DOCTYPE html>
<html ng-app="signupApp">
  <head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- For mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Signup Page Stylesheet -->
    <link rel="stylesheet" type="text/css" href="general.css">
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" type="text/css" href="animations.css">

    <!-- Additional Typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <!-- Title -->
    <title>Study Space - Sign Up</title>
  </head>

  <body>

    <!-- Navbar -->
    <nav id="site-navigation" class="navbar navbar-site" role="navigation">
      <div class="container">
        <!-- Navbar (Brand) -->
        <div class="navbar-header pull-left">
          <!--<a id="studyspace-logo" class="navbar-brand brand-logo" href="home.html">
            
          </a>-->
          <a id="studyspace-name" class="navbar-brand brand-name" href="home.html">studyspace</a>
        </div>

        <!-- Navbar (Right) -->
        <div class="navbar-header pull-right">
          <div id="link-login" class="nav-link nav-link-login">
            <span class="link-text">Log in</span>
          </div>
        </div>
      </div>
    </nav>

    <header id="signup-hook" class="header-signup text-center">
      <h2>Learn together, today.</h2>
      <h4></h4>
    </header>

    <main id="main" role="main" class="container">

      <!-- SIGNUP -->
      <div id="signup-info" class="signup-info-container fadeInBack">
        <h4>Collaborate with other students</h4>
        <p>Our course-specific channels make it easy to find classmates to work with.</p>
        <h4>Connect with your instructors</h4>
        <p>With online office hours and review sessions, help is just a click away.</p>
        <h4>Find your own space</h4>
        <p>No matter what kind of student you are, studyspace has a place for you.</p>
      </div>

      <!-- SIGNUP -->
      <div id="signup-form" class="signup-form-container form-container fadeInBack" ng-controller="SignUpController">
        <form role="form" accept-charset="UTF-8" autocomplete="off">
          <div class="form-group">
            <label for="input-firstname">First Name
              <span>{{firstNameMessage}}</span>
            </label>
            <input type="text" class="form-control" id="input-firstname"
                   placeholder="first name" ng-model="signupFirstName">
          </div>
          <div class="form-group">
            <label for="input-lastname">Last Name
              <span>{{lastNameMessage}}</span>
            </label>
            <input type="text" class="form-control" id="input-name"
                   placeholder="last name" ng-model="signupLastName">
          </div>
          <!--
          <div class="form-group">
            <label for="input-school">School
              <span>{{schoolMessage}}</span>
            </label>
            <input type="text" class="form-control" id="input-school" 
                   placeholder="school name" ng-model="signupSchool">
          </div>
          -->
          <div class="form-group">
            <label for="input-email">Email
              <span>{{emailMessage}}</span>
            </label>
            <input type="email" class="form-control" id="input-email" 
                   placeholder="email@example.com" ng-model="signupEmail">
          </div>
          <div class="form-group">
            <label for="input-password">Password
              <span>{{passwordMessage}}</span>
            </label>
            <input type="password" class="form-control" id="input-password" 
            ng-model="signupPassword">
          </div>
          <div class="form-group">
            <label for="input-confirm-password">Confirm Password
              <span>{{confirmMessage}}</span>
            </label>
            <input type="password" class="form-control" id="input-confirm-password"
            ng-model="signupConfirmPassword">
          </div>
          <div class="btn-container text-center">
            <button type="submit" class="btn btn-primary btn-block btn-submit-form"
              ng-click="signup(signupFirstName, signupLastName, signupSchool,
                        signupEmail,signupPassword, signupConfirmPassword)">
              Submit</button>
          </div>
        </form>
      </div>

    </main>
  </body>

  <!-- Angular scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="sha1.js"></script>
  <script src="controllers/sign_up_controller.js"></script>
</html>
