/* signup.css */

/* General */
html, body {
  margin: 0;
  height: 100%;
}

body {
  background: #ecf0f1;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  background: white;
}

/* Navbar */
#navbar-site {
  background-color: transparent;
  color: #333333;
}

#navbar-site a {
  color: #333333;
}

#navbar-site .nav-link #log-in path,
#navbar-site .nav-link #log-in polyline {
  stroke: #333333;
}

#navbar-site .nav-link:hover {
  background-color: #333333;
  color: white;
}

#navbar-site .nav-link:hover #log-in path,
#navbar-site .nav-link:hover #log-in polyline {
  stroke: white;
}

/* Sign Up Title */

/* Sign Up Info */
#info-signup p {
  font-size: 1.8rem;
}

/* Sign Up Form */
#signup {
  width: 100%;
  background: white;
  padding: 5rem 3rem;
}

#signup h1::selection,
#signup label::selection,
#signup input::selection {
  background: #333333;
  color: white;
}

#signup .title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

#signup .title-container {
  margin-bottom: 3.5rem;
}

#signup label {
  font-size: 1.5rem;
  font-weight: 700;
}

#signup .form-group {
  margin-top: 3rem;
  margin-bottom: 0;
}

#signup .form-group:first-child {
  margin-top: 0;
}

#signup .btn-container {
  margin-top: 4.5rem;
}

#btn-submit {
  padding: 0.5em 1em;
  font-size: 2.5rem;
  font-weight: 600;
  background: #286090;
  width: 100%;
}

#btn-submit:hover {
  background: #337ab7;
}

#btn-submit:visited {
  background: #337ab7;
}

@media screen and (min-width: 768px) {
  main {
    background: #ecf0f1;
  }

  main .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Navbar */
  #navbar-site {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* Sign Up Title */
  #header-signup {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
  }

  #header-signup h2 {
    margin: 0;
    font-weight: 600;
    line-height: 1.2em;
  }

  /* Sign Up Info
  #info-signup {
    width: calc(100% - 45rem);
    padding-right: 2rem;
    float: left;
  }

  #info-signup h3 {
    margin-top: 0;
    font-weight: 600;
  }

  #info-signup p {
    margin-bottom: 3rem;
  }
  */

  /* Sign Up */
  #signup {
    width: 45rem;
    height: auto;
    padding: 4rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    /*float: left;*/
  }
}

@media screen and (max-height: 688px) {
  main {
    display: block;
  }
}
