/* signup.css */

/* General */
body {
  background: #ecf0f1;
}

main.container {
  margin-bottom: 1.5rem;
}

/* Navbar */
.navbar-site {
  background-color: transparent;
  color: #333333;
}

.navbar-site .navbar-brand,
.navbar-site .nav-link {
  font-weight: 600;
}

.navbar-site a {
  color: #333333;
}

.navbar-site .nav-link:hover {
  background-color: #333333;
  color: white;
}

/* Sign Up Title */
.header-signup {
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0;
}

.header-signup h2 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2em;
}

/* Sign Up Info */
.signup-info-container {
  margin-bottom: 1.5rem;
}

.signup-info-container h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

.signup-info-container p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.signup-info-container p:last-child {
  margin-bottom: 0;
}

/* Sign Up Form */
.signup-info-container,
.signup-form-container {
  width: 100%;
  background: white;
  padding: 3rem;
  border-radius: 0.5rem;
}

.signup-form-container .btn-container {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  main.container {
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  /* Navbar */
  .navbar-site {
    margin-top: 1.5rem;
  }

  .navbar-site .nav-link-login {
    margin-right: -2rem;
  }

  /* Sign Up Title */
  .header-signup {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .header-signup h2 {
    font-size: 3rem;
  }

  /* Sign Up Info */
  .signup-info-container {
    margin-bottom: 3rem;
    height: auto;
  }

  /* Sign Up */
  .signup-info-container,
  .signup-form-container {
    background-color: white;
    width: 100%;
    padding: 4rem;
  }

  .signup-form-container .btn-container {
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  /* Sign Up Info */
  .signup-info-container {
    float: left;
    margin-bottom: 0;
    height: 51.8rem;
  }

  /* Sign Up Info */
  .signup-info-container {
    width: 50rem;
  }

  /* Sign Up */
  .signup-form-container {
    width: 40rem;
  }

  .signup-form-container {
    float: right;
  }
}

@media (min-width: 1200px) {
  /* Sign Up Info */
  .signup-info-container {
    width: 70rem;
  }
}
