<!--
   _____     ______     __   __     __  __
  /\  __-.  /\  __ \   /\ "-.\ \   /\ \/ /
  \ \ \/\ \ \ \  __ \  \ \ \-.  \  \ \  _"-.
   \ \____-  \ \_\ \_\  \ \_\\"\_\  \ \_\ \_\
    \/____/   \/_/\/_/   \/_/ \/_/   \/_/\/_/

-->

<!DOCTYPE html>
<html ng-app="signupApp">
  <head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- For mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Signup Page Stylesheet -->
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" type="text/css" href="animations.css">

    <!-- Additional Typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800" rel="stylesheet">

    <!-- Title -->
    <title>Study Space - Sign Up</title>
  </head>

  <body>
    <main role="main">
      <div id="signup" class="signup-container fadeInBack" ng-controller="SignUpController">
        <div class="title-container text-center">
          <h1 class="title">Sign Up</h1>
        </div>
        <div class="msg-error alert-danger hide">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span>{{successMessage}}</span>
        </div>
        <div class="form-container">
          <form>
            <div class="form-group">
              <label for="input-name">Name</label>
              <input type="text" class="form-control" id="input-name"
              placeholder="first last" ng-model="signupName">
            </div>
            <div class="form-group">
              <label for="input-school">School</label>
              <input type="text" class="form-control" id="input-school" 
              placeholder="school name" ng-model="signupSchool">
            </div>
            <div class="form-group">
              <label for="input-email">Email</label>
              <input type="email" class="form-control" id="input-email" 
              placeholder="email@example.com" ng-model="signupEmail">
            </div>
            <div class="form-group">
              <label for="input-password">Password</label>
              <input type="password" class="form-control" id="input-password" 
              ng-model="signupPassword">
            </div>
            <div class="form-group">
              <label for="input-confirm-password">Confirm Password</label>
              <input type="password" class="form-control" id="input-confirm-password"
              ng-model="signupConfirmPassword">
            </div>
            <div class="btn-container text-center">
              <button type="submit" id="btn-submit" class="btn btn-primary"
                ng-click="signup(signupName, signupSchool,
                signupEmail,signupPassword, signupConfirmPassword)">
                Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  <!-- Angular scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="sha1.js"></script>
  <script src="controllers/sign_up_controller.js"></script>
  </body>
</html>
