/* signup.css */

/* General */
body {
  background: #ecf0f1;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  background: #ecf0f1;
}

main.container {
  margin-bottom: 2rem;
}

/* Navbar */
#navbar-site {
  background-color: transparent;
  color: #333333;
}

#navbar-site .navbar-brand,
#navbar-site .nav-link {
  font-weight: 600;
}

#navbar-site a {
  color: #333333;
}

#navbar-site .nav-link #log-in path,
#navbar-site .nav-link #log-in polyline {
  stroke: #333333;
  -webkit-transition: stroke 0.15s;
  transition: stroke 0.15s;
}

#navbar-site .nav-link:hover {
  background-color: #333333;
  color: white;
}

#navbar-site .nav-link:hover #log-in path,
#navbar-site .nav-link:hover #log-in polyline {
  stroke: white;
}

#navbar-site .text-log-in {
  display: none;
}

#navbar-site .icon {
  height: 2.5rem;
  width: auto;
}

#icon-log-in {
  margin-left: -0.4rem;
}

/* Sign Up Title */
#header-signup {
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

#header-signup h2 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2em;
}

/* Sign Up Info */
#info-signup {
  margin-bottom: 2rem;
}

#info-signup h4 {
  font-size: 1.5rem;
  margin-top: 0;
}

#info-signup p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

#info-signup p:last-child {
  margin-bottom: 0;
}

/* Sign Up Form */
#info-signup,
#signup {
  width: 100%;
  background: white;
  padding: 3rem;
  border-radius: 0.5rem;
}

#signup .btn-container {
  margin-top: 3rem;
}

#btn-submit {
  padding: 0.5em 1em;
  font-size: 2rem;
  font-weight: 600;
  background: #286090;
  width: 100%;
}

#btn-submit:hover {
  background: #337ab7;
}

#btn-submit:visited {
  background: #337ab7;
}

@media screen and (min-width: 768px) {
  main.container {
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  /* Navbar */
  #navbar-site {
    margin-top: 1.5rem;
  }

  #link-login {
    margin-right: -2rem;
  }

  #link-login .text-log-in {
    display: inline;
  }

  /* Sign Up Title */
  #header-signup {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  #header-signup h2 {
    font-size: 3rem;
  }

  /* Sign Up Info */
  #info-signup h4 {
    font-size: 2rem;
  }

  #info-signup p {
    font-size: 1.5rem;
  }

  /* Sign Up */
  #info-signup,
  #signup {
    background-color: white;
    width: 100%;
    padding: 4rem;
  }

  #info-signup {
    margin-bottom: 3rem;
    height: auto;
  }

  #signup .btn-container {
    margin-top: 4rem;
  }

  #btn-submit {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  main.container {
    width: 970px;
  }

  /* Sign Up */
  #info-signup,
  #signup {
    width: 45rem;
  }

  #info-signup {
    float: left;
    margin-bottom: 0;
    height: 58rem;
  }

  #signup {
    float: right;
  }
}
