/* update.css */

/* USE THESE WHEN UPDATING COLORS! FIND (curr_color), REPLACE ALL WITH (new_color)
   DON'T REPLACE THE COLORS IN THIS SECTION!!! */
/* primary-color: #38c9ff */ /* Main color for the site, used for selected */
/* primary-color-light: #91e0ff */ /* Light version, used for hover */
/* primary-color-dark: #00b9ff */ /* Dark version, used when shit needs to be dark */
/* dark-color-dark: #262626 */ /* Our darker dark color */
/* dark-color-light: #353535 */ /* Our lighter dark color */
/* accent-color: #e01f4f */

#buttons {
  margin: 8px auto;
  text-align: center;

}

#page-title {
  text-align: center;
}

#info {
  background: white;
  padding: 15px; 
  margin: 20px;
}

.password-input {
  margin: 4px 0;
}

.school-class {
  display: inline-block;
  margin: 4px;
}


/* General */
body {
  background: #ecf0f1;
}
/*
main {
  background: white;
  height: 100%;
}
*/
/*
h1 {
    margin-bottom: 10px;
}

li {
  padding: 10px;
  width: 100%;
  border-top: 1px solid gray;
}

li:first-child {
  border: none;
}

li:hover {
  background-color: gray;
}

ul {
  padding: 0;
  margin: 0;
}
#add-class-div {
    display: inline-block;
}

#buttons {
    width: 50%;
    margin: 4em auto;
    padding: 10px;
    text-align: center;
}

#class-dropdown {
    background-color: inherit;
}

#school-classes {
    margin: 10px auto;
}

.form-control {
    margin: 10px auto;
}

.half {
    width: 50%;
}

.main-container {
    width: 50%;
    margin: 4em auto;
    padding: 10px;
    border: 3px solid #DCDCDC;
    text-align: center;
}

.middle {
    margin: 0 auto;
}

.school-class {
    font-size: 1.5em;
    width: 50%;
    margin: 10px auto;
}

.span2 {
  display: inline-block;
}

.x-button {
    margin-left: 8px;
}
*/
