/* update.css */

/* USE THESE WHEN UPDATING COLORS! FIND (curr_color), REPLACE ALL WITH (new_color)
   DON'T REPLACE THE COLORS IN THIS SECTION!!! */
/* primary-color: #38c9ff */ /* Main color for the site, used for selected */
/* primary-color-light: #91e0ff */ /* Light version, used for hover */
/* primary-color-dark: #00b9ff */ /* Dark version, used when shit needs to be dark */
/* dark-color-dark: #262626 */ /* Our darker dark color */
/* dark-color-light: #353535 */ /* Our lighter dark color */
/* accent-color: #e01f4f */

.md-padding {
  padding: 1px;
}

.container-settings {
  padding: 4rem; 
  margin: 0 auto;
  width: 50rem;
}

.container-current-classes {
  margin-top: 2rem;
}

.container-current-classes .caption {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.password-input {
  margin: 4px 0;
}

.school-class {
  display: inline-block;
  margin: 4px;
}

.btn-container {
  position: absolute;
  bottom: 4rem;
  left: 30rem;
  right: 30rem;
  margin: 0 auto;
}

.btn-container .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 2rem;
}

.btn-block+.btn-block {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.nav-link:last-child {
  margin-right: 0px;
}

.selected-classes {
  margin-top: 1rem;
}

.tab-content {
  position: relative;
  background-color: white;
  height: 60rem;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* General */
html, body {
  background: #ecf0f1;
  height: auto;
}

body {
  padding: 1.5rem;
}

h2 {
  margin-bottom: 3rem;
  font-weight: 600;
}

.btn:hover {
  color: #ccc;
}